# Default folder for the file picker
DEFAULT_PICKER_FOLDER=/default/path/for/filepicker

# The number of data colums that precede the image list
NUM_DATA_COLUMNS=2

# Which column is used to create the filename, zero based (i.e. Zero means the first column)
FILENAME_COLUMN=1